@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* general setups*/
:root{
    --white-color:#F5F5F5;
    --black-color:#1A1A1A;
    --main-color :#0072FF;
    --secondary-color:#004E92;
    --second-backcolor:#1e6b83;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right, var(--second-backcolor), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    position: relative;
}
button{
    padding: 7px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid var(--white-color);
}

h3{
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: var(--white-color);
}

input::placeholder{
    color: transparent;
}
.inactive{
    display: none;
}
/*************************/
.container{
    width: 100%;
    max-width: 750px;
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    color : var(--white-color);
    background-color: rgba(255, 255, 255, 0.15); 
    border: 2px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.form-container{
    display: flex;
    width: 100%;
    &>div{
        width:100%
    }
}

.container .login-form , 
.container .signup-form {
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
    p{
        font-size: 12px;
    }
}


.container form{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    .input-group{
        position: relative;
        margin-top: 25px;
        &:has([type="radio"]){
            margin-top: 0;
        }
    }
    a{
        display: block;
        text-align: center;
        font-size: 14px;
        color: var(--white-color);
        margin: 15px 50px 10px;
    }
} 
.input-group>input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--white-color);
    font-size: 1rem;
    color: var(--black-color);
    font-weight: bold;
    position: relative;

}
.input-group input:focus{
    box-shadow: 0 0 5px 2px rgba(0, 114, 255, 0.5);   
}
.input-group input:not([type="radio"])+label{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 1rem;
    color: var(--black-color);
    font-weight: bold;
    -moz-transform:  translateY(-47%);
     -ms-transform:  translateY(-47%);
      -o-transform:  translateY(-47%);
         transform:  translateY(-47%);
    -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
         transition: all 0.3s ease;
}

.input-group>input:focus + label,
.input-group>input:not(:placeholder-shown) + label{
    top: -10px;
    left: 5px;
    font-size: 1rem;
    color: var(--white-color);
}

.input-group:has(input[type="email"]):before,
.input-group:has(#fullName):before{
    content: '\f2bd';
    font-family: "Font Awesome 6 Free";
    font-weight: 900; 
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    z-index: 4;
    color: var(--main-color);
    -moz-transform:  translateY(-50%);
     -ms-transform:  translateY(-50%);
      -o-transform:  translateY(-50%);
         transform:  translateY(-50%);
}


#eye1, #eye2,#eye3{
    position: absolute;
    top: 54%;
    right: 8px;
    color:var(--main-color);
    background-color: transparent;
    border: none;
    z-index: 4;
    cursor: pointer;
    -moz-transform:  translateY(-50%);
     -ms-transform:  translateY(-50%);
      -o-transform:  translateY(-50%);
         transform:  translateY(-50%);
}

form>button[type="submit"]{
    display: block;
    margin: 25px auto 0;
    background-color: var(--white-color);
    color: var(--black-color);
    &:hover{
     background-color: transparent;
     color: var(--white-color);
    }
 }

 /* movinng layer */ 
.container .layer{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 100px 0 0 100px ;
    background:  var(--secondary-color);

    -moz-transition: 0.7s;
      -o-transition: 0.7s;
         transition: 0.7s;

    button{
        background-color: transparent;
        color: var(--white-color);
        &:hover{
            background-color: var(--white-color);
            color: var(--black-color);
        }
    }
} 

.container .layer .layer-content{
    text-align: center;
    color:var(--white-color);    
}

.layer  p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.social-login{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    gap:10px;
        a{  
            display: block;
            text-decoration: none;
            font-size: 1rem;
            color: var(--white-color);
            border: 1px solid var(--white-color);
            border-radius: 7px;
            -moz-transition:0.3s ease;
            -o-transition:0.3s ease;
                transition:0.3s ease;
            
            i{
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--white-color);

            }
            &:hover {
                background-color: var(--secondary-color);
            }
        }
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
/*
erroe message appear when try to submit invalid form 
get msg from validation in js
*/
.error-message{
    position: absolute;
    right: 0px;
    top: -30px;
    width: 120%;
    color: var(--white-color);
    background-color: var(--black-color);
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 5px;
    width: fit-content ;
    z-index: 5;
}
.error-message:before{
    content: '';
    position: absolute;
    top: 100%;
    right: 5px;
    margin-left: -5px;
    border-width: 11px;
    border-style: solid;
    border-color: var(--black-color) transparent transparent transparent;
}   

.success-message{
    position: fixed;
    top: 20px;
    right: 20px;
    color: #f5f5f5f5;
    background: #25d354;
    padding: 5px;
    border-radius: 6px;
    font-size: 16px;
    border: 2px solid green;
}
/* essential properties for animations*/

@media (min-width:767px) {
    .login{
    -moz-animation: fadeout-left 0.7s ease-in-out forwards;
      -o-animation: fadeout-left 0.7s ease-in-out forwards ;
         animation: fadeout-left 0.7s ease-in-out forwards;
    opacity: 1;
    transform: translateX(0);
} 

.signup{
    -moz-animation: fadeout-right 0.7s ease-in-out forwards;
      -o-animation: fadeout-right 0.7s ease-in-out forwards;
         animation: fadeout-right 0.7s ease-in-out forwards;
    opacity: 1;
    transform: translateX(0);
}

    .login.active{
    animation: fadeIn-left 0.7s ease-in-out forwards;
    opacity: 0;
    transform: translateX(-50px);
}
.signup.active{
    animation: fadeIn-right 0.7s ease-in-out forwards;
    opacity: 0;
    transform: translateX(50px);
}

.container:has(.login.active) .layer:first-child{
    right:0;
 }
 
.container:has(.signup.active) .layer:last-child{
    transform: translateX(-100%);
    border-radius: 0 100px 100px 0 ;
}

.layer .layer-content:first-of-type{
    animation: fadeIn-right 0.7s ease-in-out forwards;
 }

 .layer .layer-content:last-of-type{
    animation: fadeIn-left 0.7s ease-in-out forwards;
 }
}
 
@keyframes fadeIn-left {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn-right {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeout-left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}   
@keyframes fadeout-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

/******************************/


@media (max-width:767px) {
    body{
        display: unset;
    }
    .container{
            height: 100svh;
    }
    .form-container {
        flex-direction: column;
    }
    .container .layer {
            position: absolute;
        width: 100%;
        height: 30%;
        right: 0;
        border-radius: 100px 100px 0 0;
        top: 70%;
    }
    .container>div:not(:has(.active)){

    }
    .login{
        -moz-animation: fadeout-sm-left 0.7s ease-in-out forwards;
        -o-animation: fadeout-sm-left 0.7s ease-in-out forwards ;
            animation: fadeout-sm-left 0.7s ease-in-out forwards;
        opacity: 1;
        transform: translateY(0);
    } 

    .signup{
        -moz-animation: fadeout-sm-right 0.7s ease-in-out forwards;
        -o-animation: fadeout-sm-right 0.7s ease-in-out forwards;
            animation: fadeout-sm-right 0.7s ease-in-out forwards;
        opacity: 1;
        transform: translateY(0);
    }
    .container .login-form, .container .signup-form {
            padding: 20px 40px;
            max-width: 100%;
    }
    .login.active{
    animation: fadeIn-sm-left 0.7s ease-in-out forwards;
    opacity: 0;
    transform: translateY(-50px);
    }
    .signup.active{
        animation: fadeIn-sm-right 0.7s ease-in-out forwards;
        opacity: 0;
        transform: translateY(50px);
    }

.container:has(.login.active) .layer:first-child{
    height: 29%;
 }
 
.container:has(.signup.active) .layer:last-child{
    top: 0;
    border-radius: 0 0 100px 100px;
}

.layer .layer-content:first-of-type{
    animation: fadeIn-sm-right 0.7s ease-in-out forwards;
 }

 .layer .layer-content:last-of-type{
    animation: fadeIn-sm-left 0.7s ease-in-out forwards;
 }
 .container .layer{
        align-items: baseline;
    }
}
@keyframes fadeIn-sm-left {
    0% {
        opacity: 0;
        height: 25%;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        height: 75%;
        transform: translateY(0);
    }
}
@keyframes fadeIn-sm-right {
    0% {
        opacity: 0;
        height: 25%;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        height: 75%;
        transform: translateY(0);
    }
}
@keyframes fadeout-sm-left {
    0% {
        opacity: 1;
        height: 75%;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        height: 25%;
        transform: translateY(-100%);
    }
}   
@keyframes fadeout-sm-right {
    0% {
        opacity: 1;
        height: 75%;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        height: 25%;
        transform: translateY(100%);
    }
    
    
}